*,
*:before,
*:after {
  box-sizing: inherit; }

.article__third-heading {
  color: #b8819d; }
  .article__third-heading::before {
    content: " ";
    display: inline-block;
    background: #573e3e;
    height: 12px;
    width: 12px;
    border-radius: 50%; }

.box {
  background: #b4abaf;
  background: linear-gradient(153deg, rgba(180, 171, 175, 0.949253) 5%, rgba(247, 184, 184, 0.674743) 97%);
  max-width: 1000px;
  margin: 0 auto; }

.navigation {
  padding: 16px;
  display: none;
  background: #fae5e5; }
  .navigation__link {
    display: block;
    color: #831d55;
    text-decoration: none;
    font-size: 18px;
    margin: 0 0 16px; }
  .navigation--open {
    display: block; }

.hamburger {
  position: absolute;
  right: 70%;
  top: 16px;
  border: none;
  background: none; }

main {
  margin: 70px auto 0; }

header {
  background: rgba(245, 239, 242, 0.822);
  min-height: 60px;
  position: fixed;
  width: 1000px;
  top: 0; }

.section {
  background: #fae5e5;
  padding: 10px 30px;
  border-style: double;
  border-color: rgba(77, 60, 69, 0.4); }
  .section__flex {
    display: flex;
    flex-direction: column;
    text-align: center; }
  .section__header {
    color: rgba(97, 34, 78, 0.822); }
  .section__secondary-header {
    color: rgba(138, 54, 96, 0.781); }
  .section__img {
    margin: 0 auto;
    display: block;
    max-width: 100%; }
  .section__img--iza {
    box-sizing: border-box;
    margin: 0 auto;
    display: block;
    max-width: 100%;
    width: 100%; }
  .section__link {
    color: #047a9e; }
  .section__paragraph {
    color: #352a30; }

.secondary-section {
  background: #fae5e5;
  padding: 10px 30px;
  border-style: double;
  border-color: rgba(77, 60, 69, 0.4);
  margin: 20px 0; }

.grid {
  background: #fae5e5;
  padding: 10px 30px;
  border-style: double;
  border-color: rgba(77, 60, 69, 0.4); }

.header__grid {
  background-color: #e79e9e;
  grid-area: header;
  grid-column-start: 1;
  grid-column-end: 4; }

.article__grid {
  grid-area: article; }

.aside__grid {
  grid-area: aside; }

.footer__grid {
  grid-area: footer; }

@media screen and (min-width: 768px) {
  .hamburger {
    display: none; }
  .navigation {
    margin: 16px 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-content: center; }
  .grid {
    display: grid;
    grid-template-areas: "header header header" "article . aside" "footer footer footer";
    grid-template-columns: 1fr 100px 200px;
    column-gap: 16px;
    row-gap: 16px;
    margin: 16px;
    background: #fae5e5;
    padding: 10px 30px;
    border-style: double;
    border-color: rgba(77, 60, 69, 0.4); }
  .body__grid {
    background: #b4abaf;
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px 30px; }
  .klasa-z--js {
    background: #e0a8bb; } }
